<h1 align="center">All Alpha Bloggers</h1>
<br>
<div class="center">
  <div align="center">
    <div class="col-md-4">
      <%= will_paginate( @users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer ) %>
    </div>
  </div>

  <% @users.each do |user| %>
    <ul class="listing">
      <div class="row">
        <div class="card col-md-4 offset-4">
          <li><%= link_to gravatar_for(user), user_path(user) %></li>
          <li class="article-title">
            <%= link_to user.username, user_path(user) %>
          </li>
          <li><small><%= pluralize(user.articles.count, "article") if user.articles %></small></li>

        </div>
      </div>
    </ul>
  <% end %>
  <br>
  <div align="center">
    <div class="col-md-4">
      <%= will_paginate( @users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer ) %>
    </div>
  </div>
</div>
