<%= render 'shared/errors', obj: @category %>

<%= form_for @category, :html => {class: "form-horizontal", role: "form"} do |f| %>
  <div class="form-group row">
    <div class="col-form-label col-md-2" align="right">
      <%= f.label :name %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :name, class: "form-control", placeholder: "Category name", autofocus: true %>
      <small id="titlehelp" class="form-text text-muted">Choose an informative category name</small>
    </div>
  </div>
  <div class="offset-2 col-md-2">
    <%= f.submit class: 'btn btn-primary btn-lg'  %>
  </div>
<% end %>
<div class="col-md-4 offset-4">
  [  <%= link_to "Cancel request and return to articles listing", articles_path %>  ]
</div>
